.hearts-container {
    background-color: hotpink;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}
.heart {
  position: absolute;
  top: -50px;
  width: 30px;
  height: 30px;
  background-image: url("heart.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}

.title {
    height: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
}
.zdj {

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 130%;

}
