body {
    background-color: bisque;
}
.title {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
.quest {
    height: 70%;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    text-align: center;
}
.start {
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    margin-bottom: 10%;
    height: 20%;
    width: 35%;
    font-size: 25px;
    text-decoration: none;
    color: black;

}
.start{
    padding: 1% 1% 1% 1%;
}
.quest img {
    height: 30%;
    width: 30%;
}